ext-tools-home/resgen/src/org/eigenbase/resgen/Resource.dtd

<!--
     This dtd file was automatically generated from XOM model resource.
     Do not edit this file by hand.
  -->

<!--
     This model specifies the elements which make up a resource file. See
     {@link ResourceGenTask} for more information.
  -->
<!ENTITY % resource "message|exception">

<!--
     A ResourceBundle is a collection of resources.
     The resource generator generates a class from a resource bundle
     which has an accessor method for each resource.
  -->
<!ELEMENT resourceBundle (((%resource;))*,Code?)>
<!ATTLIST resourceBundle
locale CDATA #REQUIRED
exceptionClassName CDATA #IMPLIED
cppNamespace CDATA #IMPLIED
cppCommonInclude CDATA #IMPLIED
cppExceptionClassName CDATA #IMPLIED
cppExceptionClassLocation CDATA #IMPLIED
>

<!ELEMENT Code (#PCDATA)>

<!--
     A message.
  -->
<!ELEMENT message ((property)*,text?)>
<!ATTLIST message
name CDATA #REQUIRED
>

<!ELEMENT text (#PCDATA)>

<!--
     An exception defines a message which is issued in response
     to some invalid condition. It has a type, which must be derived from
     {@link Throwable}. The generated newExceptionName
     method creates an instance of this exception with the appropriate
     parameters.
  -->
<!ELEMENT exception ((property)*,text?)>
<!ATTLIST exception
className CDATA #IMPLIED
cppClassName CDATA #IMPLIED
cppClassLocation CDATA #IMPLIED
cppChainExceptions CDATA #IMPLIED
name CDATA #REQUIRED
>

<!ELEMENT property (#PCDATA)>
<!ATTLIST property
name CDATA #REQUIRED
>

